<div class="flex-row header text-center text-justify">
    <i class="fa fa-code text-warning"></i> with <i class="fa fa-heart text-danger"></i> and <i class="fa fa-coffee text-coffee"></i> by Yuvraj Dagur
</div>

<div class="row m-auto links">
    <a href="https://github.com/thatfreakcoder/" target="_blank">
        <div class="link-button m-2" id="github"><i class="fab fa-github"></i>
        </div>
    </a>
    <a href="https://twitter.com/yuvrajdagur12/" target="_blank">
        <div class="link-button m-2" id="twitter"><i class="fab fa-twitter"></i></div>
    </a>
    <a href="https://linkedin.com/in/yuvraj-dagur/" target="_blank">
        <div class="link-button m-2" id="linkedin"><i class="fab fa-linkedin"></i></div>
    </a>
    <a href="https://instagram.com/yuvraj_dagur/" target="_blank">
        <div class="link-button m-2" id="instagram"><i class="fab fa-instagram"></i></div>
    </a>
</div>
<div class="w-100 d-flex flex-column justify-center text-center m-2">
    <form>
        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Ig2ZxsRooWLkUn" async>
        </script>
    </form>
</div>